<div id='map' style='width: 100%; height: 500px;'></div>
<div id='menu'>
    <input (click)="switchLayer('basic')" id='basic' type='radio' name='rtoggle' value='basic' checked='checked'>
    <label for='basic'>basic</label>
    <input (click)="switchLayer('streets')" id='streets' type='radio' name='rtoggle' value='streets'>
    <label for='streets'>streets</label>
    <input (click)="switchLayer('satellite')" id='satellite' type='radio' name='rtoggle' value='satellite'>
    <label for='satellite'>satellite</label>
</div>
